{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/_alerts.html' %}

<div class="card">
    <div class="card-header">
        <h2>Yangi O'qtuvchi Qo'shish</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form1|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}

