{% load static %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Bosh sahifa</li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Boshqaruv paneli</li>

    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <a class="btn" href="
            "><i class="icon-graph"></i> &nbsp;Boshqaruv paneli</a>
            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Sozlamalar</a>
        </div>
    </li>

    khgfghjkl

    {% block breadcrumb %}
    {% endblock %}
</ol>