{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> O'quvchinig ma'lumotlari
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td>Ismi: {{ single_student.name }}</td>
                        <br>
                        <td>Familiyasi: {{ single_student.surname }}</td>
                        <br>
                        <td>Yoshi: {{ single_student.age }}</td>
                        <br>
                        <td>Viloyati: {{ single_student.place }}</td>
                        <br>
                        <td>Telfon raqami: {{ single_student.tel_num }}</td>
                        <br>
                        <td>Tug;ulgan sanasi: {{ single_student.brith }}</td>
                        <br>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> O'quchinig to'lov ma'lumotlari
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td>Ismi: {{ single_student.name }}</td>
                        <br>
                        <td>O'quvchinig summasi: {{ single_student.price }}</td>
                        <br>
                        <td>Qo'shilgan vaqti: {{ single_student.date }}</td>
                        <br>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="card ml-3">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> O'qtuvchinig Rasmi
            </div>
            <div class="card-body">
                <img src="{{ single_student.image.url }}" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

{% endblock %}

