{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-12 card p-3 shadow">
                <center>
                    <img src="{{object.image.url}}" alt="" class="avatar-bg">
                    <hr>
                    <h2>{{object.user.first_name}}</h2>
                    <h6>{{object.user.last_name}}</h6>
                    <p>O'quvchilari: <b>{{object.student.all.count}}</b> ta</p>
                    <p>Telefon no: <b>{{object.tel_num}}</b></p>
                    {% if object.user == request.user or request.user.is_superuser %}
                        <a href="{% url 'main:upd_teacher' object.pk %}" class="btn btn-warning"><i class="zmdi zmdi-edit"></i> Profilni yangilash</a>
                        <p class="mt-3 small">Bitta dars uchun:</p>
                        <h4>{{object.get_total_lesson.student}} so'm</h4>
                    {% endif %}
                        
                </center>
            </div>

            <div class="col-lg-9 col-md-12">
                
                <table class="table w-100">
                    <thead>
                      <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Ismi</th>
                        <th scope="col">Familiya</th>
                        <th scope="col">To'lov sum (1 ta dars)</th>
                        <th scope="col">funksiyalar</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for stu in object.student.all %}
                            <tr>
                                <th scope="row">{{stu.id}}</th>
                                <td>{{stu.name}}</td>
                                <td>{{stu.surname}}</td>
                                <td>{{stu.price}}</td>
                                <td>
                                    {% if object.user == request.user or request.user.is_superuser %}
                                        <a href="" class="btn btn-success"><i class="zmdi zmdi-plus"></i> Keldi</a>
                                        <a href="" class="btn btn-primary"><i class="zmdi zmdi-money"></i> To'lov qildi</a>
                                    {% endif %}
                                    <a href="" class="btn btn-primary"><i class="zmdi zmdi-eye"></i> Ko'rish</a>  
                                </td>
                            </tr>
                        {% endfor %}
                            
                    </tbody>
                  </table>
                    
            </div>
        </div>
    </div>
{% endblock content %}
    