{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <center>
        <div class="card" style="width: auto;">
            <div class="card-header">
                <h3>O'qituvchi ma'lumotlarini yangilash</h3>
            </div>
            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="card-body">
                    <div class="" w-auto>
                        <div class="">
                            <label for="">Rasmi:</label>
                            {{form.image}}
                            <label for="">Telefon no:</label>
                            {{form.tel_num}}
                            <label for="">Fani:</label>
                            {{form.subject}}
                            <label for="">Narxi:</label>
                            {{form.price}}
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Tasdiqlash</button>
                </div>
            </form>
        </div>
    </center>
</div>
<script>

    document.querySelector('#id_image').className='form-control mb-3 w-auto'
    document.querySelector('#id_tel_num').className='form-control mb-3 w-auto'
    document.querySelector('#id_subject').className='form-control mb-3 w-auto'
    document.querySelector('#id_price').className='form-control mb-3 w-auto'
</script>
{% endblock content %}
    