{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <center>
        <div class="card" style="width: auto;">
            <div class="card-header">
                <h3>O'quvchi qo'shish</h3>
            </div>
            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="card-body">
                    <div class="">
                        <div class="">
                            <h4>O'quvchining ma'lumotlari</h4>
                            <label for="">O'qituvchisi:</label>
                            {{form.teacher}}
                            <label for="">Ismi:</label>
                            {{form.name}}
                            <label for="">Familiyasi:</label>
                            {{form.surname}}
                            <label for="">Rasmi:</label>
                            {{form.image}}
                            <label for="">Tel. raqami:</label>
                            {{form.tel_num}}
                            <label for="">Yashash manzili:</label>
                            {{form.place}}
                            <label for="">1ta dars uchun narx:</label>
                            {{form.price}}
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Tasdiqlash</button>
                </div>
            </form>
        </div>
    </center>
</div>
<script>
    document.querySelector('#id_teacher').className='form-control mb-3 w-auto'
    document.querySelector('#id_name').className='form-control mb-3 w-auto'
    document.querySelector('#id_surname').className='form-control mb-3 w-auto'
    document.querySelector('#id_image').className='form-control mb-3 w-auto'
    document.querySelector('#id_tel_num').className='form-control mb-3 w-auto'
    document.querySelector('#id_place').className='form-control mb-3 w-auto'
    document.querySelector('#id_price').className='form-control mb-3 w-auto'

</script>
{% endblock content %}
    