{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                  Barcha o'qituvchilar
                </div>
                <div class="card-body">
                  <h4 class="card-title"> Barcha o'qituvchilar</h4>
                  <p><i style="font-size: 50px; padding-left:20px;" class="fal fa-chalkboard-teacher"> <span style="padding-left: 150px;">{{count}}</span></i></p> 
                 <a href="/all_teacher/"> <button type="button" class="btn btn-primary btn-md btn-block">Batafsil ma'lumot</button></a>
                </div>
              </div>              
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                  Barcha o'quvchilar
                </div>
                <div class="card-body">
                  <h4 class="card-title"> Barcha o'quvchilar</h4>
                  <p><i style="font-size: 50px; padding-left:20px;" class="fas fa-user-graduate"> <span style="padding-left: 150px;">{{student}}</span></i></p> 
                  <a href="/all_student/"> <button type="button" class="btn btn-primary btn-md btn-block">Batafsil ma'lumot</button></a>
                </div>
              </div>         
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                  Barcha fanlar
                </div>
                <div class="card-body">
                  <h4 class="card-title"> Barcha fanlar</h4>
                  <p><i style="font-size: 50px; padding-left:20px;" class="fas fa-book"> <span style="padding-left: 150px;">10</span></i></p> 
                  <button type="button" class="btn btn-primary btn-md btn-block">Batafsil ma'lumot</button>
                </div>
              </div>           
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <style>
        * {box-sizing: border-box;}
        ul {list-style-type: none;}

        
        .month {
          padding: 70px 25px;
          width: 100%;
          background: dimgray;
          text-align: center;
        }
        
        .month ul {
          margin: 0;
          padding: 0;
        }
        
        .month ul li {
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        
        .month .prev {
          float: left;
          padding-top: 10px;
        }
        
        .month .next {
          float: right;
          padding-top: 10px;
        }
        
        .weekdays {
          margin: 0;
          padding: 10px 0;
          background-color: #ddd;
        }
        
        .weekdays li {
          display: inline-block;
          width: 13.6%;
          color: #666;
          text-align: center;
        }
        
        .days {
          padding: 10px 0;
          background: #eee;
          margin: 0;
        }
        
        .days li {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
          text-align: center;
          margin-bottom: 5px;
          font-size:12px;
          color: #777;
        }
        
        .days li .active {
          padding: 5px;
          background: dimgray;
          color: white !important
        }
        
        /* Add media queries for smaller screens */
        @media screen and (max-width:720px) {
          .weekdays li, .days li {width: 13.1%;}
        }
        
        @media screen and (max-width: 420px) {
          .weekdays li, .days li {width: 12.5%;}
          .days li .active {padding: 2px;}
        }
        
        @media screen and (max-width: 290px) {
          .weekdays li, .days li {width: 12.2%;}
        }
        </style>
        <div class="month">      
          <ul>
            <a href=""><li class="prev">&#10094;</li></a>
            <a href=""><li class="next">&#10095;</li></a>
            <li>
              August<br>
              <span style="font-size:18px">2021</span>
            </li>
          </ul>
        </div>
        
        <ul class="weekdays">
          <li>du</li>
          <li>se</li>
          <li>chor</li>
          <li>pay</li>
          <li>jum</li>
          <li>Sha</li>
          <li>yak</li>
        </ul>
        
        <ul class="days">  
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li><span class="active">10</span></li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}
