{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
          <h2>O'qituvchilar</h2><hr>
          {% for t in teach %}
            <div class="card shadow mb-5">
              <div class="card-header bg-white d-flex">
                
                <div class="img">
                  {% if t.image %}
                  <img class="avatar-bg" src="{{t.image.url}}" alt="">
                  {% else %}
                  <img class="avatar-bg" src="/static/assets/image/10.jfif" alt="">
                  {% endif %}
                </div>

                <div>
                  <a href="{% url 'main:upd_teacher' t.pk %}" class="nav-link"><h2 class="">{{t.user.first_name}}</h2></a>
                  <h5 class="ml-3">{{t.user.last_name}}</h5>
                </div>

              </div>

              <div class="d-flex card p-2">
                <p class="ml-2">O'quvchilari: <b>{{t.student.all.count}} ta</b></p>
                <p class="ml-2">Jami darsi: <b>{{t.countsub}} ta</b></p>
                <p class="ml-2">Bitta dars summasi: <b>{{t.price}} so'm</b></p>
              </div>

              <div class="card-body">
                <div class="mb-3">
                  <a href="{% url 'main:get_plus' t.pk %}" class="btn btn-success"><i class="zmdi zmdi-plus"></i> Davomat olish</a>
                  <a href="" class="btn btn-primary"><i class="zmdi zmdi-money"></i> To'lovlarni yig'ish</a>
                </div>
                <table class="w-100">

                  <tr>
                    <td class="imageTD">#</td>
                    <td>Ism, Familiya</td>
                    <td class="desktop">Jami darsi</td>
                    <td class="desktop">Bitta dars narxi</td>
                  </tr>

                  {% for stu in t.student.all %}
                  
                  <tr>
                      <td class="imageTD"><img class="avatar-md" src="{{stu.image.url}}" alt=""></td>
                      <td><a href="{% url 'main:history' stu.pk %}" class="nav-link">{{stu.name}}, {{stu.surname}}</a></td>
                      <td class="desktop">{{stu.countsub}}</td>
                      <td class="desktop">{{stu.price}}</td>
                      <td>
                        
                        {% if stu.came == False %}
                          <a href="{% url 'main:came_student' stu.pk %}" class="btn btn-success m-2"><i class="zmdi zmdi-plus"></i></a>
                          {% else %}
                          <button class="btn btn-success disabled m-2"><i class="zmdi zmdi-plus"></i></button>
                        {% endif %}
                        
                        {% if stu.payed == False %}
                          <a href="{% url 'main:payed_stu' stu.pk %}" class="btn btn-primary m-2"><i class="zmdi zmdi-money"></i></a>|
                          {% else %}
                          <a href="#" class="btn btn-primary disabled m-2"><i class="zmdi zmdi-money"></i></a>|
                        {% endif %}
                          
                        <a href="" class="btn btn-warning m-2"><i class="zmdi zmdi-replay"></i></a>
                        <a href="" class="btn btn-danger m-2"><i class="zmdi zmdi-delete"></i></a>
                      </td>
                  </tr>

                  {% endfor %}
                </table>
              </div>
              
            </div>
          {% endfor %}
        </div>
        
    </div>

    <style>
      td{
        border: 1px solid rgb(99, 97, 97);
        width: auto;
        padding: 5px;
      }
      .imageTD{
        width: 60px;
      }
    </style>
{% endblock content %}
    